/nvim/plugin
/nvim/lua/user/helpers/
/nvim/undo
nvim/lua/user/lsp/jdtls.lua
/lunar
/nvim2
/chris
fonts/*.gz
fonts
nvim-packer
nvim-nov
nvim-old

nvim/lua/user

nvim.bak
nvim.bak.old
nvim-july16
nvim/lua/plugins/peek.lua
.pgpass
nvim-march05
nvim-leo
nvim/lua/plugins/intelephense.lua.back
nvim/lua/plugins/nvim-jdtls.lua.back
nvim/lua/plugins/nvim-jdtls.lua.bak
nvim/lua/plugins/nvim-jdtls.lua.bak
